@media screen and (max-width: 767px) {
    .pr {
        background-image: url("img/vino.jpg");
        position: absolute;
        right: 0;
        width: 80vw;
        height: auto;
        min-height: 100vh;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media screen and (min-width: 768px) {
    .prof_reg{
        width: 80vw;
        height: 100vh;
        position: absolute;
        right: 0;
        background-image: url("img/vino.jpg");
        background-size: cover;
        background-clip: content-box;
        background-position: 50% 50%;
        background-attachment: local;
    }
}
.priv {
    background: #fff url("img/vino.jpg") no-repeat fixed;
    background-position: 50% 50%;
    background-size: cover;
}
#head_omg {
    top: 0px;
    position: fixed;
}
$(document).ready(function () {
    var sign = $('.signIn');
    var signBlock = $('.sign-block');
    var signBlock_active = $('.sign-block_active');
    var reg = $('.registr');
    var regBlock = $('.reg-block');
    var regBlock_active = $('.reg-block_active');
    var exit1 = $('.exit1');
    var exit2 = $('.exit2');

sign.click(function(){
    signBlock.toggleClass('sign-block_active');
});
reg.click(function(){
    signBlock.removeClass('sign-block_active');
    regBlock.toggleClass('reg-block_active');
});
exit1.click(function(){
    signBlock.removeClass('sign-block_active');
});
exit2.click(function(){
    regBlock.removeClass('reg-block_active');
});
})