
header {
    background-image: url('img/a_u.jpg');
    width: 100%;
    height: 755px;
	color: #fff;
}
/*============================text_on_photo=========================================*/
.a_u h1{
	position: absolute;
	top: 15%;
	right: 15%;
	font-size: 52px;
	text-align: right;
}
.a_u p{
	position: absolute;
	top: 40%;
	left: 65%;
	font-size: 50px;
	font-family: cursive;
	color: #000;
}
/*========================================welcome=============================================*/
.say_hi h3 {
	margin-top: 10%;
	font-size: 22px;
}
.say_hi p {
	font-size: 18px;
	display: block;
}
.say_hi .center {
	text-align: center;
	width: 50%;
	margin: auto;
}
.left {
	background: #f5f5f5;
	display: grid;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}
.left .idea {
    width: 50%;
    display: grid;
    align-self: center;
    justify-self: center;
	text-align: left; 
}
.left .photo {
	display: grid;
}
.zigzag {
	width: 200px;
	height: 40px;
	margin-left: 30%;
	transform: translateX(-50%);
	margin-top: 10%;
	margin-bottom: 10%;
}
#c1 {
	margin-bottom: 10%;
}
#c2 {
	margin-top: 5%;
	margin-bottom: 5%;
}

/*======================================media=====================================*/
@media only screen and (max-width: 767px) {
	.left {
		grid-template-rows: 60vh 1fr;
		grid-template-columns: 1fr;  
		width: 80vw;
		text-align: center;
		padding: 50px 0;  
	}
.left .idea {
	text-align: center;
}
.left .photo {
	grid-row: 1;
}
}
