.prof_reg {
    background-image: url("img/vino.jpg");
    position: absolute;
    right: 0;
    width: 80vw;
    height: auto;
    min-height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
/*============================хэдер=====================================*/
#head_omg {
    display: block;
    width: 80vw;
    height: 10vh;
    position: absolute;
    right: 0;
    justify-content: space-between;
}
.head_menu {
    display: flex;
    list-style: none;
}
.logo2 {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 4vw;
    margin-top: 2vh;
    color: #333332;
}
.logo2_dop {
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-top: 1vh;
    color: #333332;
}
.a_u a{
    text-decoration: none;
    color: #333332;
    font-size: 1.5vw;
    border: 2px solid #333332;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 8px 15px;
    margin-top: 1vh;
    margin-left: 5vw;
    position: absolute;
}
.a_u a:hover,
.a_u a:focus {
    background: #ffd464;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid #fff;
}
.open-modal {
    position: fixed;
    right: 3vw;
    margin-top: 1vh;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.open-modal:hover,
.open-modal:focus {
    color: #333332;
    background-color: #ffd464;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.cal {
    margin-top: 15vh;
}
/*==========================Навигационное меню================================*/
.avatar {
    color: #1352A2;
    text-decoration: none;
    font-size: 50px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.upgrade {
    display: flex;
    justify-content: center;
}
#up_login {
    color: #333332;
    margin-left: 10px;
    height: 25px;
    border: none;
    background-color: #fff;
    font-size: 15px;
}
#up_login:hover,
#up_login:focus {
    color: #ffd464;
}
.submenuProfile {
    color: #333332;
    margin-bottom: 35px;
}
.sidebar {
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 20vw;
    z-index: 40;
    vertical-align: middle;
    background-color: #fff;
}
.menuVertical{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
}
.submenuVertical{
    margin-bottom: 30%;
}
.submenuVertical a:not(.up_login){
    margin-left: 20%;
    list-style: none;
    display: inline-flex;
    line-height: 2;
    text-decoration: none;
    color: #333332;
    position: relative;
    padding-top: 15px;
    padding-bottom: 4px;
    font-size: 16px;
}
.submenuVertical a:not([href="#"]) {
    border-bottom: 2px solid #fff;
}
.submenuVertical a:not([href="#"]):hover,
.submenuVertical a:not([href="#"]):focus {
    border-bottom: 2px solid #ffd464;
    font-style: italic;
}
/*.submenuVertical a:not([href="#"]):after{
    background-color: #ffd464;
    display: inline-flex;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.submenuVertical a:not([href="#"]):hover:after,
.submenuVertical a:not([href="#"]):focus:after {
    width: 100%;
}*/
.submenuVertical_link {
    font-weight: 700;
}
#foot{
    height: 100px;
}
.img_n{
    transition: .3s;
    height: 30px;
    width: 30px;
}

.img_n:hover{
    margin-left: 5px;
    transition: .3s;
}
.here1 {
    background-color: #ffd464;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 10px;
    color: #000;
}
/*===================================================Выдвигающийся футер======================================*/
#submenuVertical_footer {
    color: #fff;
    display: flex;
    height: 102px;
    width: 20vw;
    align-items: center;
    justify-content: center;

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.sub_foot {
   text-decoration: none;
}
#submenuVertical_footer p {
    color: #fff;
}
.add_f {
    position: fixed;
    top: 525px;
    left: 0;
    list-style: none;
    width: 20vw;
    background-color: #1352A2;
    z-index: 2;

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.add_f:hover {
    left: 40vw;
}
.bad{
    background-color: #1352A2;
    position: fixed;
    top: 525px;
    display: block;
    justify-content: space-between;
    width: 40vw;
    height: 102px;
    left: -40vw;
    list-style: none;
    transition: .5s;
    z-index: 2;

    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}
.add_f:hover .bad {
    left: 0; /* отступ слева */
}
.nav-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    width: 45px;
    height: 45px;
    background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
    background-size: 700%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: .5s;
}
.nav-link1 {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: .5s;
}
.nav-item1:hover {
    background-position: 40% 40%; /*насколько двигается закрашивание*/
}
.nav-item1:hover .nav-link1 {
    color: #1352A2;
}
p.logo1 {
    margin-right: 10px;
    margin-left: 35px;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
}
.logotype1{
    width: 100px;
    height: 80px;
    margin-top: 10px;
}
/*==========================================Редактирование данных===================================*/
.c_l_p {
    background: #fff;
    width: 350px;
    height: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
}
.change-head {
    color: #000;
    text-align: center;
    user-select: none;
    font-size: 20px;
}
.change_password {
    display: flex;
    justify-content: center;
    color: #333332;
}
.change_password:hover,
.change_password:focus {
    color: #1352A2;
    font-weight: bold;
}
#save_change_data:hover {
    background-color: #fff;
}
.new_password {
    display: none;
}
/*==========================================Календарь===================================*/
.cal h2 {
    margin: 20px 4vw;
}
.cal h4 {
    margin: 20px 4vw;
}
.photo_calendar {
    width: 300px;
    position: absolute;
    top: 38vh;
    left: 50vw;
    opacity: .9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: #4B5668;
    transition: all .9s;
}
.cur_plan {
	top: 40vh;
	width: 300px;
}
.cur_plan input[type=text] {
	border: 2px solid #FB6964;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 3px;
	font-size: 16px;
}
.red_plan {
	position: absolute;
	top: 395px;
	border: 2px solid #ffd464;
	background-color: #ffd464;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 5px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
.red_plan:focus,
.red_plan:hover {
	border: 2px solid #333332;
}
.del_plan {
    position: absolute;
    top: 395px;
    right: 20px;
    border: 2px solid #FB6964;
    background-color: #FB6964;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.del_plan:focus,
.del_plan:hover {
    border: 2px solid #333332;
}
.cal-field {
    display: block;
    background-color: rgba(255, 255, 255, .9);
    width: 90%;
    height: 80vh;
    margin-left: 4vw;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.cal_error {
    position: absolute;
    right: 20vw;
    top: 15vh;
}
.msg_cal {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: #333332;
    border: 2px solid #FB6964;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*==========================================Планы на сегодня=======================================*/
.today_plan {
    display: block;
    position: absolute;
    top: 35vh;
    width: 35vw;
    height: 80vh;
    transition: all .8s;
}
.today_date {
    font-size: 26px;
    margin-left: 5vw;
    margin-top: 30px;
    text-decoration: underline;
}
.today_plan h4 {
    margin-left: 5vw;
    margin-top: 40px;
    font-size: 22px;
    font-style: italic;
}
.plan_note {
    display: block;
    overflow-y: hidden;
    width: 25vw;
    height: 220px;
    margin-left: 10vw;
}
.plan_note:hover,
.plan_note:focus {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.plan_note::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
.plan_note::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.plan_note a {
    text-decoration: none;
    color: #333332;
}
.plan_note p {
    display: block;
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.high {
    border-left: 4px solid #FB6964;
}
.middle {
    border-left: 4px solid #ffd464;
}
.low {
    border-left: 4px solid #1352A2;
}
.add_plan_btn {
    background-color: #1352A2;
    border: 2px solid #1352A2;
    color: #fff;
    font-size: 17px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px 8px;
    position: absolute;
    margin-top: 55px;
    left: 27vw;
    font-weight: 600;
}
.add_plan_btn:hover,
.add_plan_btn:focus {
    background-color: #fff;
    color: #1352A2;
}
.today_plan_active {
    transform: translateX(-50vw);
}
/*==========================================Добавление планов=======================================*/
.gray {
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.add_plans {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15vw;
    width: 45vw;
    height: 350px;
    background-color: #fff;
    border: solid #ffd464;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 0 10px 10px 10px;
}
.add_plans_active {
    display: block;
}
#add_plan i {
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit3 {
    text-decoration: none;
    border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: rgba(114, 114, 114, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}
.exit3:hover,
.exit3:focus{
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.add_plans h3 {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.add_plans input[type=text] {
    border: 2px solid #FB6964;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 16px;
    padding: 3px;
    margin: 5px;
}
.add_plans textarea {
    border: 2px solid #333332;
    color: #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 16px;
    padding: 3px;
    margin: 3px 0 3px 5px;
}
.add_plans input[type=submit] {
    cursor: pointer;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1352A2;
    border: 2px solid #1352A2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
    position: relative;
    left: 76%;
}
.add_plans input[type=submit]:hover,
.add_plans input[type=submit]:focus {
    color: #1352A2;
    background-color: #fff;
}
.add_plans input[type=reset] {
    cursor: pointer;
    margin-left: 25%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #FB6964;
    border: 2px solid #FB6964;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
    position: absolute;
    right: 25%;
}
.add_plans input[type=reset]:focus,
.add_plans input[type=reset]:hover {
    color: #333332;
    background-color: #fff;
}
/*==========================================Проверка=======================================*/
.animation_plan {
    display: block;
    position: absolute;
    background-color: transparent;
    border: none;
    color: #000;
    width: 125px;
    height: 45px;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
    padding: 5px;
}
.animation_plan:hover,
.animation_plan:focus {
    background-color: #ffd464;
    border-radius: 5px;
}
/*==========================================Сам календарь=======================================*/
.calendar {
    position: absolute;
    display: none;
    right: -40vw;
    top: 38vh;
    font-size: 20px;
    width: 40vw;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(255,255,255,.5);
    transition: all .8s;
}
.calendar_active {
    right: 4vw;
    display: block;
}
.photo_calendar_active {
    transform: translateX(-44vw);
}
.month_and_arrow {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 20px;
    width: 85%;
}
#calender_section_top ul{
    padding:0;
    list-style-type:none;
}
#calender_section_top ul li{
    float: left;
    display: block;
    width: 60px;
    margin: 0 2px;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 212, 100, .5);
    font-weight: 600;
}
#calender_section_bot{
    width: 90%;
    margin-top:20px;
    float:left;
}
#calender_section_bot ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#calender_section_bot ul li{
    float: left;
    width: 58px;
    height: 58px;
    margin: 1px 2px;
    text-align:center;
    position:relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 3em;
    cursor: pointer;
}
#calender_section_bot ul li:hover,
#calender_section_bot ul li:focus {
    background-color: #FB6964;
    width: 58px;
    height: 58px;
    border: 1px solid #FB6964;
}
#event_list {
    z-index: 9999;
}
.more_info_day {
    position: absolute;
    top: 38vh;
    left: 5vw;
}
.more_info_day ul {
    margin-left: 20px;
}
.more_info_day ul li a {
    text-decoration: none;
    color: #000;
    padding: 3px;
    margin: 2px;
}
.more_info_day ul li a:hover,
.more_info_day ul li a:focus {
    background-color: #ffd464;
}
.today {
    background-color: #ffd464;
    border: 1px solid #ffd464;
}
.plans {
    border: 1px solid #1352A2;
    background-color: rgba(19, 82, 162, .3);
}
.usual {
    border: 1px solid transparent;
}
#calender_section_bot ul li span{
    text-align:center;
}
#calendar2 thead tr:last-child {
    font-size: medium;
    color: #000;
}
#calendar2 thead tr:nth-child(1) td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: #1352A2;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1),
#calendar2 thead tr:nth-child(1) td:nth-child(3) {
    color: #fff;
    font-weight: bolder;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
.arrow {
    background-color: #1352A2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
}
.arrowl {
    float: right;
}
#calendar2 thead tr:nth-child(2) td {
    background-color: rgba(255, 212, 100, .5);
    font-weight: 600;
}
#calendar2 tbody td {
    color: #000;
    width: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 3em;
    cursor: pointer;
}
#calendar2 tbody td:hover,
#calendar2 tbody td:focus {
    background-color: #FB6964;
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: #1352A2;
}
#calendar2 tbody td.today {
    display: inline-block;
    background-color: #ffd464;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
}
#calendar2 tbody td.all_day {

}
/*=======================================Диалоговое окно, сохранение изменений в личной информации============================*/
.modal {
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.modal--visible {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__content:not(.pop-up) {
    background-color: #fff;
    color: #333332;
    width: 40vw;
    padding: 2rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #ffd464;
    position: relative;
}
.pop-up {
    background-color: #fff;
    color: #333332;
    width: 20vw;
    padding: 2rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #ffd464;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}
:focus {
    outline: 4px solid #FF0000;
}
.ex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0 10px 0 10px;
    -moz-border-radius: 0 10px 0 10px;
    -webkit-border-radius: 0 10px 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(114, 114, 114, .15);
    transition: .3s;
}
.ex1:hover,
.ex1:focus {
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.ex1 i:hover,
.ex1 i:focus {
    -webkit-transform: rotate(90deg) scale(1.10);
    -moz-transform: rotate(90deg) scale(1.10);
    -ms-transform: rotate(90deg) scale(1.10);
    -o-transform: rotate(90deg) scale(1.10);
    transform: rotate(90deg) scale(1.10);
    -webkit-transition: -webkit-transform 800ms;
    -moz-transition: -moz-transform 800ms;
    -ms-transition: -ms-transform 800ms;
    -o-transition: -o-transform 800ms;
    transition: transform 800ms;
}
.info_save h2 {
    font: 200 2em/1em Raleway, Open Sans, Arial, Sans-Serif;
    text-transform: initial;
    letter-spacing: -0.025em;
    margin: 0 0 1rem;
    text-align: center;
}
.info_save h4 {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.025em;
    text-align: center;
}
.info_save img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.btns {
    border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 15%;
}
.round, .positive {
    display: inline-block;
    padding: 0.25em 1em;
    box-sizing: border-box;
    background: #ffffff;
    color: #333332;
    letter-spacing: 0.075em;
    line-height: 2rem;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #FB6964;
    cursor: pointer;
    transition: box-shadow 1s ease, color 1s ease;
}
.btns a {
    text-decoration: none;
}
.round:hover,
.round:focus {
    box-shadow: inset 0 5em #FB6964;
    color: #333332;
}
.positive {
    border:2px solid #ffd464;;
    color: #333332;
    font-weight: bold;
    background-color: #ffd464;
}
.positive:hover,
.positive:focus {
    border-color: #333332;
}
.icon {
    vertical-align: middle;
    line-height: inherit;
    font-size: 1.75em;
}
/*========================================media=========================================*/
@media screen and (max-width: 329px) {
    .today_plan {
        height: 62vh;
        top: 30vh;
        width: 70vw;
        background-color: rgba(255,255,255,.95);
    }
    /*==========================================Добавление планов=======================================*/
    .add_plans {
        right: 7vw;
        width: 75vw;
        height: 420px;
    }
    .add_plans textarea {
        width: 90%;
    }
    .add_plans input[type=submit] {
        margin-left: 15px;
        padding: 3px;
        left: 55%;
        margin-top: 10px;
    }
    .add_plans input[type=reset] {
        margin-left: 25%;
        padding: 3px;
        right: 45%;
        margin-top: 10px;
    }
    /*==================================Выдвигающийся футер======================================*/
    .add_f {
        display: none;
    }
    /*============================хэдер=====================================*/
    #head_omg {
        height: 8vh;
    }
    .logo2 {
        font-size: 20px;
        font-weight: bold;
        margin-left: 4vw;
        margin-top: 2vh;
        color: #333332;
    }
    .logo2_dop {
        display: none;
    }
    .a_u a{
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
    }
    .open-modal {
        right: 3vw;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    .cal {
        margin-top: 8vh;
    }
    /*==========================Навигационное меню================================*/
    .avatar {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .img_n{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    #up_login {
        margin-left: 0px;
        height: 40px;
        font-size: 15px;
    }
    .menu{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li a{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li{
        width: 57px;
    }
    #menuVertical ul li ul li a{
        left: -141px;
    }
    span:not(.quote) {
        display: none;
    }
    /*==========================================Планы на сегодня=======================================*/
    .today_date {
        font-size: 20px;
        margin-left: 5vw;
        margin-top: 10px;
    }
    .today_plan h4 {
        margin-top: 20px;
        font-size: 18px;
    }
    .plan_note {
        width: 60vw;
        margin-left: 7vw;
    }
    .plan_note::-webkit-scrollbar {
        width: 5px;
    }
    .plan_note p {
        font-size: 16px;
        padding: 8px;
        margin: 8px 0;
    }
    .add_plan_btn {
        font-size: 16px;
        padding: 3px 5px;
        margin-top: 15px;
    }
    .today_plan_active {
        transform: translateX(-75vw);
    }
    /*==========================================Календарь===================================*/
    .cal h2 {
        display: none;
    }
    .cal h4 {
        margin: 10px 15px;
        font-size: 14px;
    }
    .cal-field {
        width: 90%;
        height: 42vh;
        margin-left: 15px;
        background-color: rgba(255, 255, 255, .01);
    }
    .cal img {
        display: none;
    }
    .calendar {
        width: 70vw;
        font-size: 16px;
        top: 30vh;
        right: -70vw;
        position: absolute;
        background-color: rgba(255,255,255,.95);
    }
    .calendar_active {
        right: 15px;
    }
    #calendar2 thead tr:last-child {
        font-size: 14px;
    }
    #calendar2 thead tr:nth-child(1) td{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1),
    #calendar2 thead tr:nth-child(1) td:nth-child(3) {
        font-weight: bold;
    }
    .arrow {
        font-size: 18px;
        font-weight: bold;
        width: 30px;
        height: 30px;
    }
    #calendar2 thead tr:nth-child(2) td {
        font-weight: 500;
    }
    #calendar2 tbody td {
        color: #000;
        width: 40px;
        line-height: 2em;
    }

    #calendar2 tbody td.today {
        width: 40px;
    }
    /*==========================================Проверка=======================================*/
    .animation_plan {
        width: 95px;
        height: 35px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: 5px;
        padding: 3px;
    }
    /*==========================================Редактирование данных===================================*/
    .c_l_p {
        width: 250px;
    }
    .change-head {
        font-size: 16px;
    }
    .change_password {
        font-size: 16px;
    }
    .reg-btn input {
        font-size: 14px;
    }
    .exit2 {
        font-size: 16px;
        border-radius: 0 15px 0 15px;
        -moz-border-radius: 0 15px 0 15px;
        -webkit-border-radius: 0 15px 0 15px;
        left: 220px;
    }
    /*==========================================Выход===================================*/
    .info_save h2 {
        letter-spacing: -0.05em;
        margin: 0 0 10px;
        font-size: 20px;
    }
    .info_save h4 {
        letter-spacing: 0.05em;
    }
    .btns {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin-top: 5px;
        margin-left: 15%;
    }
    .round, .positive {
        padding: 0.25em 0.5em;
        letter-spacing: 0.005em;
        line-height: 1.5rem;
        font-size: 14px;
        margin: 5px;
    }
}
@media screen and (min-width: 330px) and (max-width: 767px) {
    /*==================================Выдвигающийся футер======================================*/
    .add_f {
        display: none;
    }
    /*============================хэдер=====================================*/
    #head_omg {
        height: 8vh;
    }
    .logo2 {
        font-size: 20px;
        font-weight: bold;
        margin-left: 4vw;
        margin-top: 2vh;
        color: #333332;
    }
    .logo2_dop {
        display: none;
    }
    .a_u a{
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
    }
    .open-modal {
        right: 3vw;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    .cal {
        margin-top: 8vh;
    }
    /*==========================Навигационное меню================================*/
    .avatar {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .img_n{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    #up_login {
        margin-left: 0px;
        height: 40px;
        font-size: 15px;
    }
    .menu{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li a{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li{
        width: 57px;
    }
    #menuVertical ul li ul li a{
        left: -141px;
    }
    span:not(.quote) {
        display: none;
    }
    /*==========================================Планы на сегодня=======================================*/
    .today_plan {
        top: 30vh;
        width: 70vw;
        height: 55vh;
        background-color: rgba(255,255,255,.95);
    }
    .today_date {
        font-size: 20px;
        margin-left: 5vw;
        margin-top: 10px;
    }
    .today_plan h4 {
        margin-top: 20px;
        font-size: 18px;
    }
    .plan_note {
        width: 60vw;
        margin-left: 7vw;
    }
    .plan_note::-webkit-scrollbar {
        width: 5px;
    }
    .plan_note p {
        font-size: 16px;
        padding: 8px;
        margin: 8px 0;
    }
    .add_plan_btn {
        font-size: 16px;
        padding: 3px 5px;
        margin-top: 15px;
    }
    .today_plan_active {
        transform: translateX(-75vw);
    }
    /*==========================================Добавление планов=======================================*/
    .add_plans {
        right: 7vw;
        width: 75vw;
        height: 420px;
    }
    .add_plans textarea {
        width: 90%;
    }
    .add_plans input[type=submit] {
        margin-left: 15px;
        padding: 3px;
        left: 60%;
        margin-top: 10px;
    }
    .add_plans input[type=reset] {
        margin-left: 25%;
        padding: 3px;
        right: 40%;
        margin-top: 10px;
    }
    /*==========================================Календарь===================================*/
    .cal h2 {
        display: none;
    }
    .cal h4 {
        margin: 10px 15px;
        font-size: 14px;
    }
    .cal-field {
        width: 90%;
        height: 42vh;
        margin-left: 15px;
        background-color: rgba(255, 255, 255, .01);
    }
    .cal img {
        display: none;
    }
    .calendar {
        width: 70vw;
        font-size: 16px;
        top: 30vh;
        right: -70vw;
        background-color: rgba(255,255,255,.95);
    }
    .calendar_active {
        right: 15px;
    }
    #calendar2 thead tr:last-child {
        font-size: 14px;
    }
    #calendar2 thead tr:nth-child(1) td{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1),
    #calendar2 thead tr:nth-child(1) td:nth-child(3) {
        font-weight: bold;
    }
    .arrow {
        font-size: 18px;
        font-weight: bold;
        width: 30px;
        height: 30px;
    }
    #calendar2 thead tr:nth-child(2) td {
        font-weight: 500;
    }
    #calendar2 tbody td {
        color: #000;
        width: 40px;
        line-height: 2em;
    }

    #calendar2 tbody td.today {
        width: 40px;
    }
    /*==========================================Проверка=======================================*/
    .animation_plan {
        width: 95px;
        height: 35px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: 5px;
        padding: 3px;
    }
    /*==========================================Редактирование данных===================================*/
    .c_l_p {
        width: 250px;
    }
    .change-head {
        font-size: 16px;
    }
    .change_password {
        font-size: 16px;
    }
    .reg-btn input {
        font-size: 14px;
    }
    .exit2 {
        font-size: 16px;
        border-radius: 0 15px 0 15px;
        -moz-border-radius: 0 15px 0 15px;
        -webkit-border-radius: 0 15px 0 15px;
        left: 220px;
    }
    /*==========================================Выход===================================*/
    .info_save h2 {
        letter-spacing: -0.05em;
        margin: 0 0 10px;
        font-size: 20px;
    }
    .info_save h4 {
        letter-spacing: 0.05em;
    }
    .btns {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin-top: 5px;
        margin-left: 15%;
    }
    .round, .positive {
        padding: 0.25em 0.5em;
        letter-spacing: 0.005em;
        line-height: 1.5rem;
        font-size: 14px;
        margin: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    /*============================хэдер=====================================*/
    #head_omg {
        height: 8vh;
    }
    .logo2 {
        font-size: 20px;
        margin-left: 1vw;
    }
    .logo2_dop {
        font-size: 18px;
        margin-left: 1vw;
    }
    .a_u a{
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
    }
    .open-modal {
        right: 3vw;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    .cal {
        margin-top: 10vh;
    }
    .bad {
        left: -45vw;
    }
    p.logo1 {
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        font-size: 16px;
    }
    .logotype1{
        width: 90px;
    }
    .nav-item1 {
        margin: 30px 5px;
        width: 35px;
        height: 35px;
    }
    .nav-link1 {
        font-size: 20px;
    }
    .menu{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li a{
        width: 57px;
        transition: .3s;
    }
    #menuVertical ul li{
        width: 57px;
    }
    #menuVertical ul li ul li a{
        left: -141px;
    }
    span:not(.quote) {
        display: none;
    }
    /*==========================================Планы на сегодня=======================================*/
    .today_plan {
        top: 28vh;
        width: 40vw;
        height: 55vh;
    }
    .today_date {
        font-size: 20px;
        margin-left: 5vw;
        margin-top: 10px;
    }
    .today_plan h4 {
        margin-top: 20px;
        font-size: 18px;
    }
    .plan_note {
        width: 30vw;
        margin-left: 7vw;
    }
    .plan_note::-webkit-scrollbar {
        width: 5px;
    }
    .plan_note p {
        font-size: 16px;
        padding: 8px;
        margin: 8px 0;
    }
    .add_plan_btn {
        font-size: 16px;
        padding: 3px 5px;
        margin-top: 15px;
    }
    /*==========================================Добавление планов=======================================*/
    .add_plans {
        right: 10vw;
        width: 55vw;
        height: 450px;
    }
    .add_plans input[type=submit] {
        margin-left: 15px;
        padding: 3px;
        left: 66%;
        margin-top: 10px;
    }
    .add_plans input[type=reset] {
        margin-left: 25%;
        padding: 3px;
        right: 35%;
        margin-top: 10px;
    }
    /*==========================================Календарь===================================*/
    .cal h2 {
        margin: 10px 4vw;
    }
    .cal h4 {
        margin: 10px 4vw;
    }
    .cal-field {
        width: 90%;
        height: 60vh;
    }
    .photo_calendar {
        width: 200px;
        top: 28vh;
        left: 45vw;
    }

    .photo_calendar_active {
        transform: translateX(-40vw);
    }
    .calendar {
        width: 40vw;
        font-size: 20px;
        top: 28vh;
        right: -40vw;
    }
    .calendar_active {
        right: 45px;
    }
    #calendar2 thead tr:last-child {
        font-size: 16px;
    }
    #calendar2 thead tr:nth-child(1) td{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(2) {
        color: #1352A2;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1),
    #calendar2 thead tr:nth-child(1) td:nth-child(3) {
        color: #fff;
        font-weight: bolder;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
    #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }
    .arrow {
        background-color: #1352A2;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        width: 40px;
        height: 40px;
    }
    #calendar2 thead tr:nth-child(2) td {
        font-weight: 600;
    }
    #calendar2 tbody td {
        width: 50px;
        line-height: 2em;
        cursor: pointer;
    }
    #calendar2 tbody td:hover {
        background-color: #FB6964;
    }
    #calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
        color: #1352A2;
    }
    #calendar2 tbody td.today {
        width: 50px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1310px) {
    .photo_calendar {
        left: 45vw;
    }
    .a_u a{
        margin-left: 11vw;
    }
    .menuVertical{
        top: 50%;
        transform: translateY(-50%);
    }
    .add_f {
        top: 550px;
    }
    .bad{
        top: 550px;
    }
}
@media screen and (min-width: 1800px) {

    .a_u a{
        margin-left: 11vw;
    }
    .menuVertical{
        top: 50%;
        transform: translateY(-50%);
    }
    /*==========================================Календарь===================================*/
    .cal h2 {
        margin: 40px 4vw;
        font-size: 34px;
    }
    .cal h4 {
        margin: 40px 4vw;
        font-size: 28px;
    }
    .cal img {
        width: 25vw;
        top: 35vh;
        left: 6vw;
    }
    #calendar2 {
        width: 50%;
        font-size: 32px;
        top: 35vh;
        right: 2.5vw;
    }
    #calendar2 thead tr:last-child {
        font-size: 28px;
    }
    #calendar2 thead tr:nth-child(1) td{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(2) {
        color: #1352A2;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1),
    #calendar2 thead tr:nth-child(1) td:nth-child(3) {
        font-size: 30px;
    }
    #calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
    #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }
    .arrow {
        font-size: 30px;
        width: 60px;
        height: 60px;
    }
    #calendar2 tbody td {
        width: 120px;
        line-height: 4em;
    }
    #calendar2 tbody td.today {
        width: 120px;
    }

}
@media screen and (min-width: 1024px){
    .prof_reg {
        background-position: right 35%;
        min-height: 200vh;
    }
    .a_u a{
        margin-left: 11vw;
    }
    .menuVertical{
        top: 50%;
        transform: translateY(-50%);
    }
}