
header {
	background: url('img/a_u.jpg') no-repeat;
	background-size: cover;
    width: 100%;
    height: 100vh;
	color: #fff;
}
.nav {
	position: relative;
	display: flex;
	align-items: center;
}
a.logo {
	margin-right: 20vw;
}
/*============================text_on_photo=========================================*/
.a_u h1{
	position: absolute;
	top: 15%;
	right: 15%;
	font-size: 52px;
	text-align: right;
}
.a_u p{
	position: absolute;
	top: 40%;
	left: 65%;
	font-size: 50px;
	font-family: cursive;
	color: #000;
}
/*========================================welcome=============================================*/
.say_hi h3 {
	margin-top: 10%;
	font-size: 22px;
}
.say_hi p {
	font-size: 18px;
	display: block;
}
.say_hi .center {
	text-align: center;
	width: 50%;
	margin: auto;
}
.left {
	background: #f5f5f5;
	display: grid;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}
.left .idea {
    width: 50%;
    display: grid;
    align-self: center;
    justify-self: center;
	text-align: left; 
}
.left .photo {
	display: grid;
}
.zigzag {
	width: 200px;
	height: 40px;
	margin-left: 30%;
	transform: translateX(-50%);
	margin-top: 10%;
	margin-bottom: 10%;
}
#c1 {
	margin-bottom: 10%;
}
#c2 {
	margin-top: 5%;
	margin-bottom: 5%;
}

/*======================================media=====================================*/
@media only screen and (max-width: 767px) {

	header .logo {
		color: #000;
	}
	header {
		background-size: 100% auto;
		background-position: 0 40px;
		height: 40vh;
	}
	a.logo {
		margin-right: 0;
	}
	/*============================text_on_photo=========================================*/
	.a_u h1{
		top: 2%;
		right: 15%;
		font-size: 25px;
		text-align: right;
	}
	.a_u p{
		top: 4%;
		left: 55%;
		font-size: 16px;
		font-weight: bold;
	}
	/*========================================welcome=============================================*/
	.say_hi .center {
		display: block;
		text-align: center;
		width: 95%;
	}
	.say_hi h3 {
		margin-top: 0;
		font-size: 20px;
	}
	.zigzag {
		width: 150px;
		height: 35px;
		margin-left: 50%;
		transform: translateX(-50%);
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.say_hi p {
		font-size: 16px;
		display: block;
	}
	.left {
		background: #f5f5f5;
		display: flex;
		flex-direction: column-reverse;
	}
	.left .idea {
		width: 95%;
		padding: 15px 0;
		text-align: center;
	}
	.left .photo {
		display: block;
	}
	.photo img {
		display: block;
		width: 100%;
	}
}
/*======================================media=====================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	a.logo {
		margin-right: 0;
		margin-left: 5vw;
	}
	/*============================text_on_photo=========================================*/
	.a_u h1{
		top: 12%;
		right: auto;
		left: 15%;
		font-size: 25px;
	}
	.a_u p{
		display: block;
		background-color: #fff;
		margin: 0;
		border-top: 5px solid #ffd464;
		border-bottom: 5px solid #ffd464;
		color: #333332;
		padding: 15px 10px 15px 60px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		width: 27vw;
		top: 25%;
		left: 1%;
		font-size: 22px;
	}
	.a_u p:before {
		content: "\201C";
		font-family: serif;
		position: absolute;
		left: 10px;
		top: 10px;
		color: white;
		background: #FB6964;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-size: 40px;
		line-height: 1.35;
		text-align: center;
	}
	/*========================================welcome=============================================*/
	.say_hi .center {
		display: block;
		text-align: center;
		width: 95%;
	}
	.say_hi h3 {
		margin-top: 15px;
		font-size: 20px;
	}
	.zigzag {
		width: 150px;
		height: 35px;
		margin-left: 20%;
		transform: translateX(-50%);
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.say_hi p {
		font-size: 18px;
		display: block;
	}
	.left {
		background: #f5f5f5;

		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 50% 50%;
		grid-gap: 0;
	}
	.left .photo {
		display: grid;
	}
	.photo img {
		display: flex;
		width: 100%;
		margin-top: 70%;
		transform: translateY(-50%);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1310px) {
	.a_u h1{
		top: 15%;
		right: 75%;
		text-align: right;
	}
	.a_u p{
		top: 30%;
		left: 5%;
		right: 70%;
		color: #fff;
		font-size: 40px;
		text-align: left;
	}
	.say_hi h3 {
		margin-top: 10px;
	}
	.zigzag {
		width: 250px;
		height: 40px;
		margin-left: 40%;
		transform: translateX(-50%);
		margin-top: 5%;
		margin-bottom: 5%;
	}
}
@media screen and (min-width: 1800px) {
	.say_hi h3 {
		font-size: 28px;
	}
	.say_hi p {
		font-size: 26px;
	}
	.zigzag {
		width: 300px;
		height: 60px;
		margin-left: 30%;
		transform: translateX(-50%);
	}
	a.logo {
		margin-right: 25vw;
		margin-left: 20vw;
	}
	.menu_item {
		font-size: 30px;
	}

}