@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
*{
    padding:0;
    margin: 0;
    /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
body,html{
    overflow-x: hidden;
}
/*===================================style_for_header================================*/
nav{
    margin: 0 auto;
    width: 100%;
	/*position: fixed;*/
}
#checkbox-menu{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.here  {
    color: #000;
    font-size: 20px;
    padding: 10px 25px;
    border-bottom: solid #ffd464;
}
.menu li a {
    color: #000;
    text-decoration: none;/*убрали подчеркивание ссылок*/
    /*align-self: center;*/
    font-size: 20px;
    padding: 10px 25px;
    transition: background .2s linear;/*эффект перехода*/ 
}
.menu li a:hover {
    background: #ffd464;
    border-radius: 3px;
} 
a.logo{
    font-size: 25px;
    margin-right: 150px;
    padding: 5px 35px;
}
.buttons-search{
    display: flex;
    position: relative;
}
.menu input[type=search]{
    margin-top: 5px;
    margin-left: 55px;
    width: 186px;
    height: 35px;
    outline: none;
    padding-left: 22px;
    border-color: #ffd464;
    font-size: 15px;
    color: #4B5668;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.menu input[type=search]:focus::-webkit-input-placeholder {
  color: transparent;
}
 
.menu input[type=search]:focus::-moz-placeholder {
  color: transparent;
}
 
.menu input[type=search]:focus:-moz-placeholder {
  color: transparent;
}
 
.menu input[type=search]:focus:-ms-input-placeholder {
  color: transparent;
}
.menu input[type=submit]{
    margin-left: -6px;
    width: 55px;
    height: 35px;
    border: none;
    background: #ffd464;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.menu .icon {
    position: absolute;
    top: 33%;
    color: #4B5668;
    margin-left: 61px;
    z-index: 1;
}
.col12 {
	display: block;
	/*margin: 10px 5px 10px 15px;*/
}
#join {
    height: 35px;
    overflow: hidden;
    width: 80px;
    margin:0 auto; /*внешний отступ на всех сторонах*/
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; /*начертание шрифта*/
    color: #FFF;
    background: #1352A2;
    border: 1px #FFF;
    border-radius: 23px;
}
#join:hover {
    color: #1352A2;
	border: solid 2px #1352A2;
    background: #fff; /*пр наведении*/	
}
/*====================Style for sign-block=======================*/
.sign-block, .reg-block {
    position: absolute;
    display: none;
    justify-content: center;/*Для центрирования элемента по главной оси(flex)*/
    align-items:center;/*Для центрирования элемента по перекрёстной оси*/
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .2);
    z-index: 200;
    box-sizing: border-box;
}
.sign-block_active, .reg-block_active {
    display: flex;
}
.sign, .reg {
    background: #fff;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}
.exit1, .exit2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 0 20px 0 20px;
    position: relative;
    left: 320px;
    background: rgba(114, 114, 114, .15);
    transition: .3s;
}
.exit1:hover{
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.exit2:hover {
    color: #fff;
    background: #1352A2; /*пр наведении*/	
}
.sign-head, .reg-head {
    font-size: 35px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    user-select: none;
    color: black;
}
.input-data, .input-btn {
    width: 70%;
    margin: 25px auto;
}
.input-data input {
    width: 100%;
    border: 2px solid #333332;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
    height: 25px;
    text-align: center;
}
.input-data input:focus {
    border: 2px solid #FB6964;
    color: #333332;
}
.input-btn input {
    width: 100%;
    border: 2px solid #FB6964;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    background: #FB6964;
    padding: 6px 0;
    transition: .3s;
}
.input-btn input:hover {
    border: 2px solid #FB6964;
    background: #fff;
    color: #000;
}
.reg-data, .reg-btn {
    width: 70%;
    margin: 25px auto;
}
.reg-data input {
    width: 100%;
    border: 2px solid #1352A2;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
    height: 30px;
    text-align: center;
}
.reg-data input:focus {
    border: 2px solid #1352A2;
    color: #333332;
}
.reg-btn input {
    width: 100%;
    border: 2px solid #ffd464;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    background: #ffd464;
    padding: 6px 0;
    transition: .3s;
}
.reg-btn input:hover {
    border: 2px solid #ffd464;
    background: #fff;
    color: #000;
}
.notReg {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    color: black;
}
.notReg-btn input {
    border: 2px solid #FB6964;
    background: #fff;
    color: #000;
}
.notReg-btn input:hover {
    border: 2px solid #FB6964;
    background: #FB6964;
    color: #000;
}
/*==================================style_for_main_inf======================================*/
blockquote {
    margin: 0;
    background: white;
    border-top: 5px solid #ffd464;
    border-bottom: 5px solid #ffd464;
    color: #333332;
    padding: 30px 30px 30px 90px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 40px;
    right: 650px;
    top: 180px;
    left: 50px;
}
blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    background: #FB6964;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 1.35;
    text-align: center;
}
blockquote p {
    margin: 0 0 16px;
    font-size: 22px;
    letter-spacing: .05em;
    line-height: 1.4;
}
blockquote cite {
    font-style: normal;
}
.start {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.start-img {
    background-image: url('img/main1.jpg');
    width: 821px;
    height: 548px;
    margin-left: 40%;
}
.start-text {
    position: absolute;
    font-size: 42px;
    right: 650px;
    top: 180px;
    left: 50px;
    background: #ffd464;
}
.character {
    background: #f6f5f4;
    color: #333332;
    /*max-height: 1200px;*/
}
.character h2, #o_hero{
    padding: 50px 0;
    font-size: 40px;
    text-align: center;
}
/*=================================style_for_hero_reg_and_heroes============================*/
.hero{
    max-width: 348px;
    padding-top: 15px;
    background: #fff;
    border-color: #1352A2;
    border-radius: 35px;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 40px;
    text-align: center;   
    margin-top: 10px;
}
#me {
    position: relative;
    color: #fff;
    background: #1352A2;
    height: 30px;
    overflow: hidden;
    width: 80px;
    margin:0 auto; /*внешний отступ на всех сторонах*/
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; /*начертание шрифта*/
    border: 1px #FFF;
    border-radius: 23px;
}
.hero-container{
    padding: 15px; 
}
.hero p {
    padding: 20px;
}
.hero:hover{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.heroes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
}
/*========================================review======================================*/
.container {
    border-radius: 10px;
    padding-left: 65px;
    max-width: 750px;
    min-height: 75px;
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
}
.container h3 {
	margin-bottom: 7px;
}
.container p {
	margin-top: 7px;
}
.con1 {
	border: 2px solid #FB6964;
	left: 10%;
}
.con2 {
	border: 2px solid #ffd464;
	left: 35%;
	text-align: right;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.con1 img {
  float: left;
  margin-right: 20px;
  border-radius: 60%;
}
.con2 img {
  float: right;
  margin-left: 20px;
  border-radius: 60%;
}
/*==================================hero=================================*/
.hero1{
    border-color: #FB6964;
    box-shadow: none;
}
.hero2{
    border-color: #ffd464;
    box-shadow: none;
}
.hero3{
    box-shadow: none;
}
.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}
.slider__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}
.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.slider__control_left {
    left: 0;
}
.slider__control_right {
    right: 0;
}
.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #9e9e9e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.slider__indicators li.active {
    opacity: 1;
}
/*===================================style_for_footer============================*/
footer {
    background: #1352A2;
    color: #fff;
    width: 100%;
    display: block;
    justify-content: space-between;
    height: 210px;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 20px;
    width: 45px;
    height: 45px;
    background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
    background-size: 700%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: .5s;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: .5s;
}
.nav-item:hover {
    background-position: 40% 40%; /*насколько двигается закрашивание*/
}
.nav-item:hover .nav-link {
    color: #1352A2;
}
p.logo {
    margin-right: 350px;
    margin-left: 35px;
    margin-top: 80px;
    font-size: 20px;
}
.logotype {
    margin-right: 150px;
    margin-top: 50px;
}
a#toTop {
    z-index: 9999;
    display: inline;
    position: fixed;
    bottom: 40px;
    right: 8px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    border-radius: 10px;
    background: url(img/top.png) no-repeat left top;
}
/*========================================media=====================================*/
@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}


/*@media screen and (max-height: 650px) {
    .sign {
        width: 300px;
    }
    .exit {
        left: 270px;
    }
}
@media screen and ((max-height: 500px) and (max-width: 1000px)) {
    
}*/
