body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #067d7d;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

li a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
    padding: 10px;
}

ul:hover li a {
    filter: blur(5px);
}

ul:hover li a:hover {
    font-size: 30px;
    filter: blur(0px);
    background-color: #ede739;
}