/*.v1 {
    height: 100vh;
    border-left: 2px solid #ffd464;
    position: absolute;
    left: 20vw;
}*/
.prof_reg{
    width: 80vw;
    height: 100vh;
    position: absolute;
    right: 0;
    background-image: url("img/vino.jpg");
    background-size: cover;
    background-clip: content-box;
    background-position: center center;
    background-attachment: local;
}
#head_omg {
    display: block;
    width: 80vw;
    height: 10vh;
    position: absolute;
    right: 0;
    justify-content: space-between;
}
.head_menu {
    display: flex;
    list-style: none;
}
.logo2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 4vw;
    margin-top: 2vh;
    color: #333332;
}
.logo2_dop {
    font-size: 18px;
    margin-left: 2vw;
    margin-top: 1vh;
    color: #333332;
}
.a_u a{
    text-decoration: none;
    color: #333332;
    font-size: 20px;
    border: 2px solid #333332;
    border-radius: 3px;
    padding: 8px 15px;
    margin-top: 1vh;
    margin-left: 11vw;
    position: absolute;
}
.a_u a:hover {
    background: #ffd464;
    border-radius: 3px;
    border: 2px solid #fff;
}
.head_menu i {
    position: fixed;
    right: 3vw;
    color: #333332;
    font-size: 30px;
    margin-top: 1vh;
    padding: 8px 10px;
}
.head_menu i:hover {
    color: #333332;
    background-color: #ffd464;
    border: 2px solid #fff;
    border-radius: 50%;
}
.cal {
    margin-top: 15vh;
}
.avatar {
    color: #1352A2;
    text-decoration: none;
    font-size: 50px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.submenuProfile {
    color: #333332;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar {
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 20vw;
    z-index: 40;
    vertical-align: middle;
    background-color: #fff;
}
.menuVertical{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.submenuVertical{
    margin-bottom: 30%;
}
.submenuVertical a{
    margin-left: 21%;
    list-style: none;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    color: #333332;
    position: relative;
    padding-top: 15px;
    padding-bottom: 4px;
    font-size: 16px;
}
.submenuVertical a:after{
    background-color: #ffd464;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.submenuVertical a:hover:after,
.submenuVertical a:focus:after {
    width: 100%;
}
.submenuVertical_link {
    font-weight: 700;
}
#foot{
    height: 100px;
}
.img_n{
    transition: .3s;
}

.img_n:hover{
    margin-left: 5px;
    transition: .3s;
}
#submenuVertical_footer {
    color: #fff;
    display: flex;
    height: 102px;
    width: 20vw;
    align-items: center;
    justify-content: center;

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.sub_foot {
   text-decoration: none;
}
#submenuVertical_footer p {
    font-size: 30px;
    color: #fff;
    padding-left: 7px;
}
.add_f {
    position: fixed;
    top: 550px;
    left: 0;
    list-style: none;
    width: 20vw;
    background-color: #1352A2;

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.add_f:hover {
    left: 40vw;
}
.bad{
    background-color: #1352A2;
    position: fixed;
    top: 550px;
    display: block;
    justify-content: space-between;
    width: 40vw;
    height: 102px;
    left: -40vw;
    list-style: none;
    transition: .5s;

    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}
.add_f:hover .bad {
    left: 0; /* отступ слева */
}
/*MEDIA*/

.nav-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    width: 45px;
    height: 45px;
    background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
    background-size: 700%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: .5s;
}
.nav-link1 {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: .5s;
}
.nav-item1:hover {
    background-position: 40% 40%; /*насколько двигается закрашивание*/
}
.nav-item1:hover .nav-link1 {
    color: #1352A2;
}
p.logo1 {
    margin-right: 10px;
    margin-left: 35px;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
}
.logotype1{
    width: 100px;
    height: 80px;
    margin-top: 10px;
}
@media screen and (max-width: 1152px){
    .menu{
        width: 57px;
        transition: .3s;
    }

    #menuVertical ul li a{
        width: 57px;
        transition: .3s;
    }

    #menuVertical ul li{
        width: 57px;
    }

    #menuVertical ul li ul li a{
        left: -141px;
    }

    span{
        display: none;
    }

    .footer{
        transform: rotate(-90deg);
        left: -77px;
        border-right: 1px solid rgb(9, 42, 51);
        height: 24px;
        bottom: 77px;
        text-align: left;
        padding-left: 11px;
        padding-bottom: 25px;
        padding-top: 6px;
    }

    .img_n{
        height: 40px;
        margin-left: -7px;
        margin-top: 9px;
    }
}
@media screen and (min-width: 1152px){
    .img_n{
        display: none;
    }
    .prof_reg {
        height: 180vh;
    }
}