.notes {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    margin-bottom: 5vh;
}
.note{
    max-width: 80%;
    border: solid #FB6964;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 15px;
    margin-left: 3vw;
    background: #fff;
    opacity: .9;
    min-height: 300px;
}
.note:hover,
.note:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 1;
}
.message_post {
    border: 2px solid #FB6964;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 15vh;
    padding: 5px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
/*======================Пост на новой странице======================*/
.post_on_new_page {
    margin-top: 15vh;
    margin-left: 3vw;
}
.link_update {
    margin-bottom: 10px;
}
.post_on_new_page a {
    text-decoration: none;
    color: #333332;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}
.post_on_new_page a:hover,
.post_on_new_page a:focus {
    background-color: #ffd464;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.post_on_new_page button {
    text-decoration: none;
    color: #333332;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.post_on_new_page button:hover,
.post_on_new_page button:focus {
    background-color: #ffd464;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.current_post {
    background-color: rgba(255,255,255,.85);
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.current_post h1 {
    font-size: 22px;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.current_post img {
    max-width: 30vw;
    margin-top: 15px;
}
.content_post {
    margin-top: 15px;
    line-height: 1.5;
}
.content_post ul {
    margin-left: 20px;
}
.current_data {
    display: flex;
    font-style: italic;
    margin-top: 15px;
}
.current_data p {
    padding-right: 30px;
}
/*======================Заголовок======================*/
.note h3 {
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 15px;
}
#add_note h3{
    text-align: center;
    padding-top: 5%;
    font-size: 22px;
    text-transform: capitalize;
}
/*=========================Основная инф-ция==============================*/
.main_info {
    margin-bottom: 5%;
    display: inline-flex;
    max-height: 70%;
    text-align: left;
    align-items: center;
}
.note img{
    width: 40%;
    display: flex;
    float: right;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.bq2 p{
    text-overflow: ellipsis;
}
.bq2 {
    margin-left: 15px;
}
/*=========================Ссылки==============================*/
.note_info {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 20px;
    margin-bottom: 15px;
}
.note a{
    color: #333332;
    text-decoration: none;
}
.note a:after {
    background-color: #333332;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.note a:hover:after,
.note a:focus:after {
    width: 100%;
}
.note_info p{
    font-style: italic;
}
/*====================================Добавление статьи=====================================*/
#add_state{
    border: none;
    display: inline-block;
    width: 80vw;
    height: 5vh;
    background-color: #ffd464;
    color: #333332;
    text-align: center;
    font-size: 22px;
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
}
.gray {
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.visible_post_update {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_notes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15vw;
    width: 55vw;
    height: 650px;
    background-color: #fff;
    border: solid #ffd464;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.note--visible {
    display: block;
}

#add_note i {
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit3 {
    text-decoration: none;
    border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: rgba(114, 114, 114, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit3:hover,
.exit3:focus{
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.down {
    text-decoration: none;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: rgba(114, 114, 114, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    position: relative;
    margin-left: 47%;
}
.down:hover,
.down:focus{
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.please {
    display: flex;
    justify-content: space-between;
}
#caption {
    margin-left: 4%;
    border: 2px solid #333332;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 5%;
    padding: 1px;
}
#article {
    border: 2px solid #333332;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 4%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px;
   }
/*=====================Кнопки======================*/
#add_note input[type=submit] {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1352A2;
    border: 2px solid #1352A2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
    position: relative;
    left: 76%;
}
#add_note input[type=submit]:hover,
#add_note input[type=submit]:focus {
    color: #1352A2;
    background-color: #fff;
}
#add_note input[type=reset] {
    cursor: pointer;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #FB6964;
    border: 2px solid #FB6964;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
    position: absolute;
    right: 25%;
}
#add_note input[type=reset]:focus,
#add_note input[type=reset]:hover {
    color: #333332;
    background-color: #fff;
}
/*========================================Статьи================================*/
.post_content {
    padding: 0 15px 15px 15px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 15vw;
    width: 55vw;
    height: 600px;
    background-color: #fff;
    border: solid #ffd464;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.post_main {
    display: block;
    margin-top: 5vh;
    height: 30vh;
}
.post_main_text {
    display: flex;
    float: left;
    width: 50%;
    height: 30vh;
}
.post_main h3 {
    display: flex;
    align-items: center;
    font-size: 2vw;
}
.post_main_text textarea {
    display: flex;
    align-items: center;
    font-size: 2vw;
}
.post_main p{
    display: flex;
    font-style: italic;
    align-items: flex-end;
    justify-content: left;
}
.post_main img {
    width: 40%;
    height: 35vh;
    display: flex;
    float: right;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.post_content_info {
    height: 48vh;
    margin-top: 10px;
    overflow-y: hidden;
    padding-right: 10px;
}
.content_update textarea {
    width: 100%;
    height: 41vh;
    font-size: 16px;
}
.post_content_info:hover,
.post_content_info:focus {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.post_content_info::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
.post_content_info::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.up_data input{
    padding: 5px;
    display: flex;
    float: right;
    border: 2px solid #1352A2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #1352A2;
    background-color: #fff;
}
.up_data input:hover,
.up_data input:focus {
    background-color: #1352A2;
    color: #fff;
}
/*====================================media=====================================*/
@media screen and (max-width: 767px) {
    .notes {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }
    .note {
        padding: 5px;
    }
    .note h3 {
        font-size: 16px;
        text-transform: none;
        padding-bottom: 5px;
    }
    .main_info {
        display: flex;
        height: auto;
        justify-content: center;
    }
    .bq2 {
        display: none;
    }
    .note_info {
        font-size: 16px;
    }
    /*====================================Добавление статьи=====================================*/
    #add_state{
        font-size: 18px;
    }
    .add_notes {
        right: 8vw;
        width: 80vw;
        height: auto;
    }
    .add_notes input[type=file] {
        margin-left: 5vw;
    }
    #caption {
        margin-left: 4%;
        margin-top: 5%;
        margin-bottom: 5px;
        padding: 1px;
        width: 90%;
    }
    #article {
        width: 82%;
        height: 45%;
    }
    /*=====================Кнопки======================*/
    #add_note input[type=submit] {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        font-size: 14px;
        padding: 3px;
        left: 56%;
    }
    #add_note input[type=reset] {
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 3px;
        right: 45%;
    }
    #add_note input[type=reset]:focus,
    #add_note input[type=reset]:hover {
        color: #333332;
        background-color: #fff;
    }
    /*==================================================Статьи==========================================*/
    .post_content {
        right: 5vw;
        width: 80vw;
        height: auto;
    }
    .post_main {
        display: block;
        margin-top: 5vh;
        height: 35vh;
    }
    .post_main_text {
        width: 40vw;
        display: block;
    }
    .post_main h3 {
        font-size: 14px;
    }
    .post_main img {
        width: 50%;
    }
    .post_content_info {
        padding: 5px;
    }
    .post_content_info::-webkit-scrollbar {
        width: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .note {
        padding: 10px;
    }
    .note h3 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .main_info {
        display: flex;
        height: auto;
        justify-content: center;
    }
    .bq2 {
        display: none;
    }
    .note img {
        float: none;
        justify-content: center;
    }
    .note_info {
        font-size: 14px;
    }
    /*====================================Добавление статьи=====================================*/
    #add_state{
        font-size: 18px;
    }
    .add_notes {
        right: 8vw;
        width: 75vw;
        height: auto;
    }
    .add_notes input[type=file] {
        margin-left: 5vw;
        margin-top: 15px;
        font-size: 16px;
    }
    #caption {
        margin-left: 6%;
        margin-top: 2%;
        margin-bottom: 5px;
        padding: 5px;
        width: 80%;
        font-size: 16px;
    }
    #article {
        width: 78%;
        height: 45%;
        font-size: 16px;
        margin-left: 6%;
    }
    /*=====================Кнопки======================*/
    #add_note input[type=submit] {
        margin-top: 5px;
        margin-left: 10px;
        left: 56%;
    }
    #add_note input[type=reset] {
        margin-left: 0;
        margin-top: 5px;
        right: 45%;
    }
    /*==================================================Статьи==========================================*/
    .post_content {
        right: 5vw;
        width: 80vw;
        height: auto;
    }
    .post_main {
        display: block;
        margin-top: 5vh;
        height: 35vh;
    }
    .post_main_text {
        width: 40vw;
    }
    .post_main h3 {
        font-size: 16px;
    }
    .post_main img {
        width: 50%;
    }
    .post_content_info {
        padding: 5px;
    }
    .post_content_info::-webkit-scrollbar {
        width: 5px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1310px) {

}
@media screen and (min-width: 1800px) {
    .notes {
        margin-top: 15vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}