@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
/*=============================================Прелоадер=========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #333332;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #1352A2;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #FB6964;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #ffd464;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
*{
    padding:0;
    margin: 0;
    /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
body,html{
    overflow-x: hidden;
}
/*===================================style_for_header================================*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.nav1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}
.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    position: relative;
    z-index: 2;
}
.here  {
    color: #000;
    font-size: 20px;
    padding: 10px 25px;
    border-bottom: solid #ffd464;
}
.menu li a {
    color: #000;
    text-decoration: none;/*убрали подчеркивание ссылок*/
    font-size: 20px;
    padding: 10px 25px;
    transition: background .2s linear;/*эффект перехода*/ 
}
.menu li a:hover,
.menu li a:focus {
    background: #ffd464;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
} 
a.logo{
    font-size: 25px;
    margin-right: 150px;
    padding: 5px 0px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
/*=====================================поиск======================================*/
/*.buttons-search{
    display: flex;
    position: relative;
}
.menu input[type=search]{
    margin-top: 5px;
    margin-left: 55px;
    width: 186px;
    height: 35px;
    outline: none;
    padding-left: 22px;
    border-color: #ffd464;
    font-size: 15px;
    color: #4B5668;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.menu input[type=search]:focus::-webkit-input-placeholder {
  color: transparent;
}
.menu input[type=search]:focus::-moz-placeholder {
  color: transparent;
}
.menu input[type=search]:focus:-ms-input-placeholder {
  color: transparent;
}
.menu input[type=submit]{
    margin-left: -6px;
    width: 55px;
    height: 35px;
    border: none;
    background: #ffd464;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.menu .icon {
    position: absolute;
    top: 33%;
    color: #4B5668;
    margin-left: 61px;
    z-index: 1;
}*/
.col12 {
	display: block;
}
#join {
    height: 35px;
    overflow: hidden;
    width: 80px;
    margin:0 auto; /*внешний отступ на всех сторонах*/
    position: absolute;
    right: 5px;
    top: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; /*начертание шрифта*/
    color: #FFF;
    background: #1352A2;
    border: 1px #FFF;
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    z-index: 3;
}
#join:hover,
#join:focus {
    color: #1352A2;
	border: solid 2px #1352A2;
    background: #fff; /*пр наведении*/	
}
/*====================Style for sign-block=======================*/
.reg_form {
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.reg-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 350px;
    height: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.sign-block {
    position: fixed;/*из-за этого не открывается форма с авторизацией*/
    display: none;
    justify-content: center;/*Для центрирования элемента по главной оси(flex)*/
    align-items:center;/*Для центрирования элемента по перекрёстной оси*/
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .2);
    z-index: 200;
    box-sizing: border-box;
}
.reg-block_active {
    display: block;
}
.sign-block_active {
    display: flex;
}
.sign {
    background: #fff;
    width: 350px;
    height: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.reg {
    background: #fff;
    width: 350px;
    height: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.exit1, .exit2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333332;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -webkit-border-radius: 0 20px 0 20px;
    position: relative;
    left: 320px;
    background: rgba(114, 114, 114, .15);
    transition: .3s;
    border: none;
}
.exit1:hover,
.exit1:focus {
    color: #fff;
    background: #1352A2; /*пр наведении*/
}
.exit2:hover,
.exit2:focus {
    color: #fff;
    background: #1352A2; /*пр наведении*/	
}
.sign-head, .reg-head {
    font-size: 35px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    user-select: none;
    color: black;
}
.input-data, .input-btn {
    width: 70%;
    margin: 25px auto;
}
.input-data input {
    width: 100%;
    border: 2px solid #333332;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
    height: 25px;
    text-align: center;
}
.input-data input:focus {
    border: 2px solid #FB6964;
    color: #333332;
}
.input-btn input {
    width: 100%;
    border: 2px solid #FB6964;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #FB6964;
    padding: 6px 0;
    transition: .3s;
}
.input-btn input:hover,
.input-btn input:focus {
    border: 2px solid #FB6964;
    background: #fff;
    color: #000;
}
.reg-data, .reg-btn {
    width: 70%;
    margin: 25px auto;
}
.reg-data input {
    width: 100%;
    border: 2px solid #1352A2;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
    height: 30px;
    text-align: center;
}
.reg-data input:focus {
    border: 2px solid #1352A2;
    color: #333332;
}
.reg-btn input {
    width: 100%;
    border: 2px solid #ffd464;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #ffd464;
    padding: 6px 0;
    transition: .3s;
}
.reg-btn input:hover,
.reg-btn input:focus {
    border: 2px solid #ffd464;
    background: #fff;
    color: #000;
}
.notReg {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    color: black;
}
.btn-not-reg  {
    display: flex;
    justify-content: center;
    border: 2px solid #FB6964;
    background: #fff;
    color: #000;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 6px 0px;
    transition: .3s;
    text-decoration: none;
}
.btn-not-reg:hover,
.btn-not-reg:focus {
    border: 2px solid #FB6964;
    background: #FB6964;
    color: #000;
}
.message_error{
    display: block;
    color: #FB6964;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.alert {
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #333332;
    display: block;
}
/*==================================всплывающие подсказки======================================*/
.tooltip {
    visibility: hidden;
    z-index: 1000;
    opacity: .9;

    width: 50%;
    padding: 3px 5px;

    background: #333332;
    color: #FB6964;

    position: absolute;
    top: 5vh;
    left: 2vw;


    border-radius: 9px;
    font: 16px;

    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}
/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;

    position: absolute;
    left: 40%;

}
.con-tooltip:focus ~.tooltip{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .1s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
    0%{
        transform: translateY(6px);
    }

    100%{
        transform: translateY(1px);
    }

}
.right .tooltip {
    top: 20%;
    left: 95%;
}

.right .tooltip::after,
.right1 .tooltip::after{
    top: 40%;
    left: -9%;
    transform: rotate(90deg);
}
.right1 .tooltip {
    top: 52%;
    left: 95%;
}
.message {
    display: flex;
    justify-content: center;
}
.msg {
    display: block;
    left: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    width: 50%;
    padding: 5px;
    color: #333332;
    border: 2px solid #FB6964;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.msg1 {
    display: block;
    left: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    color: #333332;
    border: 2px solid #FB6964;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*==================================style_for_main_inf======================================*/
.bq1 {
    margin: 0;
    background: white;
    border-top: 5px solid #ffd464;
    border-bottom: 5px solid #ffd464;
    color: #333332;
    padding: 30px 30px 30px 90px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 40px;
    right: 650px;
    top: 180px;
    left: 50px;
}
.bq1:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    background: #FB6964;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 50px;
    line-height: 1.35;
    text-align: center;
}
.bq1 p {
    margin: 0 0 16px;
    font-size: 22px;
    letter-spacing: .05em;
    line-height: 1.4;
}
.bq1 cite {
    font-style: normal;
}
.start {
    margin-top: 65px;
    display: flex;
    justify-content: flex-end;
}
.start-img {
    background: url('img/main1.jpg') no-repeat;
    width: 821px;
    height: 548px;
    margin-left: 40%;
}
.character {
    background: #f6f5f4;
    color: #333332;
}
.char, #rev, #o_hero{
    padding: 50px 0;
    font-size: 40px;
    text-align: center;
}
/*=================================style_for_hero_reg_and_heroes============================*/
.hero{
    max-width: 348px;
    padding-top: 15px;
    background: #fff;
    border-color: #1352A2;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 40px;
    text-align: center;   
    margin-top: 10px;
}
.me {
    position: relative;
    color: #fff;
    background: #1352A2;
    height: 30px;
    overflow: hidden;
    width: 80px;
    margin:0 auto; /*внешний отступ на всех сторонах*/
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; /*начертание шрифта*/
    border: 1px #FFF;
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
}
.hero-container{
    padding: 15px; 
}
.hero p {
    padding: 20px;
}
.hero:hover{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.heroes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
}
/*========================================review======================================*/
.container {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    max-width: 750px;
    min-width: 150px;
    min-height: 75px;
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
}
.container h3 {
	margin-bottom: 7px;
}
.container p {
	margin-top: 7px;
}
.con1 {
	border: 2px solid #FB6964;
	left: 10%;
}
.con2 {
	border: 2px solid #ffd464;
	left: 35%;
	text-align: right;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}
.con1 img {
  float: left;
  margin-right: 20px;
  border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
}
.con2 img {
  float: right;
  margin-left: 20px;
  border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
}
/*==================================hero=================================*/
.hero1{
    border-color: #FB6964;
    box-shadow: none;
}
.hero2{
    border-color: #ffd464;
    box-shadow: none;
}
.hero3{
    box-shadow: none;
}
.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}
.slider__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}
.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.slider__control_left {
    left: 0;
}
.slider__control_right {
    right: 0;
}
.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #9e9e9e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.slider__indicators li.active {
    opacity: 1;
}
/*===================================style_for_footer============================*/
footer {
    background: #1352A2;
    color: #fff;
    width: 100%;
    display: block;
    height: 33vh;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.adapt_foot {
    display: flex;
    flex-direction: row;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 12vh 20px;*/
    margin-top: 15vh;
    margin-right: 3vw;
    width: 45px;
    height: 45px;
    background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
    background-size: 700%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: .5s;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: .5s;
}
.nav-item:hover,
.nav-item:focus {
    background-position: 40% 40%; /*насколько двигается закрашивание*/
}
.nav-item:hover .nav-link {
    color: #1352A2;
}
.nav-item:focus .nav-link {
    color: #1352A2;
}
p.logo {
    margin-right: 25vw;
    margin-left: 5vw;
    margin-top: 15vh;
    font-size: 20px;
}
.logotype {
    margin-right: 15vw;
    margin-top: 7vh;
}
.back_to_top {
    z-index: 4;
    display: none;
    position: fixed;
    bottom: 40px;
    right: 8px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: url(img/top.png) no-repeat left top;
}
.back_to_top-show {
    display: block;
}
/*======================================burger-menu================================*/
.bg-text {
    display: none;
}
/*========================================media=====================================*/
@media screen and (max-width: 767px) {
    /*===========================================preloader==============================================*/
    .loader {
        left: 35%;
        top: 40%;
    }
    /*===========================================burger-menu=======================================*/
    .header {
        position: fixed;
    }
    .header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .nav1 {
        height: 40px;
        margin-left: 0px;
        justify-content: flex-start;
    }
    a.logo {
        font-size: 18px;
        margin-right: 0px;

    }
    .here {
        border: none;
    }
    #join {
        top: 5px;
        height: 30px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 50vw;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 50vw;
        transition: all .3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffd464;

        transition: all .3s ease 0s;
        padding: 20px 10px 20px 10px;
    }
    .bg-text {
        display: block;
        position: absolute;
        color: rgba(255, 255, 255, .2);
        font-size: 50px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 0;
        transition: .5s;
    }
    .menu li a:hover,
    .menu li a:focus ~ .bg-text {
        font-size: 20px;
        opacity: 0;
    }
    .header__menu.active {
        top: 0;
    }
    .menu {
        display: block;
    }
    .menu_item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 35px 0;
    }
    body.lock {
        overflow-y: hidden;
    }
    /*========================================start========================================*/
    .start {
        margin-top: 40px;
    }
    .start-img {
        margin-left: 0;
        background-size: 100% auto;
    }
    .bq1 {
        position: relative;
        left: 0;
        top: 65vw;
        border-top: 3px solid #ffd464;
        border-bottom: 3px solid #ffd464;
        padding: 20px 15px 15px 70px;
        font-size: 35px;
    }
    .bq1:before {
        left: 15px;
        top: 15px;
        width: 35px;
        height: 35px;
        font-size: 35px;
        line-height: 1.35;
        text-align: center;
    }
    /*========================================who are you========================================*/
    .character h2 {
        padding-top: 20vw;
        font-size: 30px;
    }
    .heroes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0px;
    }
    .hero {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    /*========================================review======================================*/
    .con1, .con2 {
        left: auto;
    }
    #rev, #o_hero {
        font-size: 30px;
    }
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
    /*=========================================heroes=======================================*/
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hero-container {
        padding: 10px;
    }
    /*===================================style_for_footer============================*/
    footer {
        height: auto;
    }
    p.logo {
        margin-right: 0;
        margin-left: 1vw;
        margin-top: 15px;
        font-size: 16px;
        text-align: center;
        width: 33.3333vw;
    }
    .logo_logo {
        width: 33.3333vw;
        justify-content: center;
    }
    .logotype {
        margin-right: 15px;
        margin-top: 5px;
        width: 120px;
    }
    .adapt_foot {
        flex-direction: column;
        width: 33.3333vw;
        align-items: center;
    }
    .nav-item {
        margin: 2px 0;
        width: 30px;
        height: 30px;
        background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
        background-size: 700%;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        transition: .5s;
    }
    .nav-link {
        font-size: 20px;
    }
    .back_to_top-show {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    /*===========================================preloader==============================================*/
    .loader {
        left: 40%;
        top: 45%;
    }
    /*===========================================header==============================================*/
    .nav1 {
        height: 50px;
    }
    a.logo {
        font-size: 20px;
        margin-right: 5vw;
        padding: 5px 0px;
    }
    .menu {
        width: 70vw;
        justify-content: center;
        margin-right: 10px;
    }
    .menu li a {
        font-size: 18px;
        padding: 2vw 15px;
    }
    /*========================================start========================================*/
    .start-img {
        background-size: 100% auto;
        margin-left: 40vw;
        margin-top: auto;
    }
    .bq1 {
        padding: 15px 15px 10px 60px;
        position: absolute;
        font-size: 20px;
        right: 50vw;
        top: 350px;
        left: 50px;
    }
    .bq1:before {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
    .bq1 p {
        margin: 0 0 8px;
        font-size: 18px;
        letter-spacing: .02em;
        line-height: 1.2;
    }
    .bq1 cite {
        font-size: 22px;
        font-weight: bold;
    }
    /*========================================who are you========================================*/
    .hero{
        padding-top: 10px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .hero-container{
        padding: 10px;
    }
    .hero p {
        padding: 10px;
    }
    /*========================================review======================================*/
    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .con1, .con2 {
        left: auto;
    }
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
    /*=========================================heroes=======================================*/
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .hero-container {
        padding: 10px;
    }
    /*===================================style_for_footer============================*/
    footer {
        height: auto;
    }
    p.logo {
        margin-right: 0;
        margin-left: 1vw;
        margin-top: 50px;
        font-size: 18px;
        text-align: center;
        width: 33.3333vw;
    }
    .logo_logo {
        display: flex;
        width: 33.3333vw;
        justify-content: center;
    }
    .logotype {
        margin-right: 15px;
        margin-top: 5px;
        width: 150px;
    }
    .adapt_foot {
        width: 33.3333vw;
        align-items: center;
    }
    .nav-item {
        margin: 2px 10px;
        width: 40px;
        height: 40px;
        background: linear-gradient(-45deg, #fff 70%, #1352A2 30%);
        background-size: 700%;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        transition: .5s;
    }
    .nav-link {
        font-size: 20px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1310px) {
    .bq1 {
        right: 550px;
    }
    .con2 {
        left: 20%;
    }
    footer {
        height: 180px;
    }
    p.logo {
        margin-right: 210px;
        margin-left: 25px;
        margin-top: 65px;
    }
    .logotype {
        margin-right: 100px;
        margin-top: 20px;
    }
    .nav-item {
        margin: 60px 20px;
    }
}
@media screen and (min-width: 1800px) {
    .nav1 {
        height: 50px;
    }
    a.logo {
        font-size: 35px;
        margin-right: 5vw;
        padding: 5px 0px;
    }
    .menu li a {
        font-size: 30px;
        padding: 2vw 15px;
    }
    .here {
        font-size: 30px;
    }
    #join {
        height: 45px;
        width: 100px;
        font-size: 20px;
    }
    /*========================================start========================================*/
    .bq1 {
        padding: 30px 30px 30px 100px;
        position: absolute;
        font-size: 36px;
        right: 50vw;
        top: 350px;
        left: 50px;
    }
    .bq1:before {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        font-size: 60px;
    }
    .bq1 p {
        margin: 0 0 8px;
        font-size: 24px;
        letter-spacing: .02em;
        line-height: 1.2;
    }
    .bq1 cite {
        font-size: 22px;
        font-weight: bold;
    }
    /*========================================who are you========================================*/
    .hero{
        padding-top: 10px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .hero-container{
        padding: 10px;
    }
    .hero p {
        padding: 10px;
    }
    /*========================================review======================================*/
    .container {
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        max-width: 750px;
        min-height: 75px;
        position: relative;
        margin-bottom: 50px;
        padding: 15px;
    }
    .container h3 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .container p {
        margin-top: 15px;
        font-size: 20px;
    }
    .con1 {
        border: 3px solid #FB6964;
        left: 10%;
    }
    .con2 {
        border: 3px solid #ffd464;
        left: 55%;
        text-align: right;
    }
    .con1 img {
        margin-right: 30px;
        width: 150px;
    }
    .con2 img {
        margin-left: 30px;
        width: 150px;
    }
    /*=========================================heroes=======================================*/
    .heroes{
        margin-left: 10vw;
    }
    .hero{
        font-size: 22px;
    }
    .me {
        height: 40px;
        width: 100px;
        font-size: 18px;
    }
    .hero-container{
        padding: 15px;
    }
    .hero p {
        padding: 20px;
    }
    .hero:hover{
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
    }

    /*===================================style_for_footer============================*/
    p.logo {
        margin-right: 0;
        margin-left: 1vw;
        font-size: 24px;
        text-align: center;
        width: 33.3333vw;
    }
    .logo_logo {
        display: flex;
        width: 33.3333vw;
        justify-content: center;
        align-items: center;
    }
    .logotype {
        width: 10vw;
        margin-right: 0;
    }
    .adapt_foot {
        width: 33.3333vw;
        justify-content: center;
    }
}