.education {
    margin-top: 15vh;
    color: #333332;
    display: table;
    margin-left: 1.5vw;
}
.all_cards {
    margin: 20px;
}
/*============================Ряд карточек==========================*/
.row_cards {

}
/*============================Карточка с организацией==========================*/
.card {
    width: 23vw;
    height: 57vh;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin: 1vw 1vw 5vw 1vw;
    position: relative;
    z-index: 1;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,1);
}
.step2 {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.8);
    width: 23vw;
    height: 47vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 300ms ease-in-out;
}
.step2 p {
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.step2 ul {
    padding-left: 35px;
    color: #fff;
}
.card img {
    width: 15vw;
    margin-left: 4vw;
    position: absolute;
    bottom: 45%;
}
/*============================Футер карточки==========================*/
.card_foot {
    width: 23vw;
    height: 25vh;
    position: absolute;
    bottom: 0px;
}
.card_foot p {
    text-align: center;
}
.card_foot a:nth-child(1) {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
}
.card_foot a:nth-child(1):hover,
.card_foot a:nth-child(1):focus {
    color: #1352A2;
}
.more {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #333332;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #ffd464;
    font-size: 16px;
    border: 2px solid #ffd464;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 35px;
}
.more:hover,
.more:focus {
    background-color: #fff;
}
/*========================================media=========================================*/
@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 1023px){

}
@media screen and (min-width: 1024px) and (max-width: 1310px) {

}
@media screen and (min-width: 1800px) {

}
